.readAllButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 36px;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, height 0.15s ease-out,
    border-radius 0.15s ease-out;
  border-radius: 10px;
  margin-bottom: 2px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

.readAllButton.selected {
  color: var(--white-500);
  background-color: var(--brand-experiment);
}

.readAllButton.round {
  height: 48px;
  border-radius: 50%;
}

.theme-dark.custom-theme-background .readAllButton:not(.selected) {
  background: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6));
}

.theme-light.custom-theme-background .readAllButton:not(.selected) {
  background: rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-3));
}

.readAllButton-listContainer {
  align-items: center;
  background-color: var(--background-secondary-alt);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 8px 8px 12px;
}

.readAllButton-listCheckbox {
  flex: 0;
}

.readAllButton-blacklistModalContent {
  display: flex;
  flex-direction: column;
  overflow: unset !important;
  padding-left: 12px;
  padding-right: 0 !important;
}

.readAllButton-blacklistItem {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  padding: 6px 0 6px 4px;
}

.readAllButton-blacklistItemIcon {
  border-radius: 50%;
  margin-right: 8px;
}

.readAllButton-blacklistItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
