.readAllButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48px;
  height: 36px;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  border-radius: 10px;
  margin-bottom: 2px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}

.readAllButton.selected {
  color: var(--white-500);
  background-color: var(--brand-experiment);
}

.theme-dark.custom-theme-background .readAllButton:not(.selected) {
  background: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6));
}

.theme-light.custom-theme-background .readAllButton:not(.selected) {
  background: rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-3));
}
